[submodule "weightplot/generic"]
	path = weightplot/generic
	url = https://github.com/rockwolf/haskell_generic.git
[submodule "ledgerplot/generic"]
	path = ledgerplot/generic
	url = https://github.com/rockwolf/haskell_generic.git
